@import '../../styles/variables';

.listSelectDropdown{
  margin-top:10px;
  border:1px solid transparent;
}
.image-wrapper{
  &:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: all .4s;
    box-shadow: 5px 5px 10px rgba(38,0,0,.7);
  }
}