@import '../../../styles/variables';

.queuedSection-wrapper{
    background-color: rgba(0, 0, 0, .3);
    border:1px dashed $color5;
    border-radius:7px;
    padding:20px;
    justify-content: center !important;
    .image-wrapper{
        img{
            &:hover{
                cursor: pointer;
            }
        }
    }
}